TMDB_API_KEY=tmdb-api-key

# Google Gemini
GOOGLE_MODEL=gemini-model-name
GOOGLE_API_KEY=gemini-api-key

# OpenAI
OPENAI_MODEL=openai-model-name
OPENAI_API_KEY=openai-api-key

# OpenRouter
OPENROUTER_MODEL=openrouter-model-name
OPENROUTER_API_KEY=openrouter-api-key
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

# Groq
GROQ_MODEL=groq-model-name
GROQ_API_KEY=groq-api-key
GROQ_BASE_URL=https://api.groq.com/openai/v1

# CodeCraft
CODECRAFT_MODEL=codecraft-model-name
CODECRAFT_API=codecraft-api-key
CODECRAFT_BASE_URL=https://codecraftapi.com/v1

# NVIDIA
NVIDIA_MODEL=nvidia-model-name
NVIDIA_API_KEY=nvidia-api-key
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1

# Ollama
OLLAMA_MODEL=ollama-model-name
OLLAMA_API_KEY=ollama-api-key
OLLAMA_BASE_URL=https://ollama.com/v1